<!DOCTYPE html>
<html>

  <head>
    <link href="shift.css" rel="stylesheet">
    <link href="bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="#">My Project</a></li>
          <li><a href="#">Start A Project</a></li>
        </ul>
        <ul class="pull-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Log In with Facebook</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Create your own music.</h1>
        <p>Partner up with your friends on Facebook or anyone in the world to compose a piece of music like you have always wanted to.</p>
        <a href="#">Learn More</a>
      </div>
    </div> 

    <div class="learn-more">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
      
      <h3><%= link_to 'Start a project', new_article_path %></h3>
      <p>Have a killer melody, some sick chord progression? Start with anything.</p>
      <p><a href="#">See how to start a project</a></p>
      </div>
      <div class="col-md-4">
      <h3><a href="#">Find a project</a></h3>
      <p>Find inspiration from others' projects and help them complete their dreams.</p>
      <p><a href="#">See what you can do</a></p>
        </div>
      <div class="col-md-4">
      <h3>Listen to completed projects</h3>
      <p>Here are some sample projects that people have put together for you to listen to.</p>
      <p><a href="#">Click to hear</a></p>
      </div>
      </div>
    </div>
  </div>
  </body>
</html>